body {
    font-family: Inconsolata, 'Ubuntu Mono';
}

.half {
    float: left;
    width: 50%;
}

.float-left {
    float: left;
    margin-right: 50px;
}

.float-right {
    float: right;
    margin-left: 50px;
}

.lowcontrast {
    color: #CCC;
}

.background-image-bottom-right {
    background-position: bottom right;
}

.pros ul, .cons ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pros li, .cons li {
    padding-left: 1em;
}

.cons li:before {
    content: "- ";
    color: red;
}

.pros li:before {
    content: "+ ";
    color: green;
}
